<div class="mat-typography">
  <header class="indigo header white-text" color="primary">
      <h1 class="mat-display-2 text-center" style="font-weight: 100"> {{modelName | uppercase}} </h1>
  </header>
  <div class="container">
    <mat-card class="overlap">
      <div style="position: relative">
      <div>
        <h3 class="mat-display-1 text-center"> {{modelDescription }} <a [href]="modelLink" style="text-decoration: none" class="white-text">{{modelLinkText}}</a> </h3>
      </div>
        <div>
            <form [formGroup]="annotateForm" (ngSubmit)="annotate()">
              <div fxLayout="row wrap">
                <div fxFill>
                  <mat-form-field style="width: 100%">
                        <mat-select placeholder="Example sentences" (selectionChange)="changedSentence($event)">
                          <mat-option *ngFor="let sentence of examples" [value]="sentence" >
                            {{sentence}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div fxFlex="90%">
                  <mat-form-field style="width: 100%">
                    <input matInput formControlName="sentence" placeholder="Enter sentence or Select an example">
                  </mat-form-field>
                </div>
                <div fxFlex>
                  <button mat-raised-button color="primary" type="submit" [disabled]="annotateForm.invalid">ANNOTATE!</button>
                </div>
              </div>
            </form>
        </div>
        <div class="text-center">
            <h1> {{docTitle}}</h1>
            <div id="displacy"></div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
