*.sublime-project
*.sublime-workspace
*.pyc
*.pkl
*.prm
.DS_Store
*@eaDir
.pkgs
*.egg-info
.venv
.venv[23]
.styleenv
.coverage
build
*.gz
generated
*.ropeproject
*.cubin
*.hdf5
*.h5
*.html
!server/web_service/visualizer/displacy/*.html
!tests/fixtures/data/server/*.gz
*.log
.idea/
dist
.nlp_architect_env/
_generated_reqs.txt
