*.pyc
*.pkl
*.prm
.DS_Store
.pkgs
*.egg-info
.venv
.styleenv
.coverage
flake8.txt
/build/
generated
/dist/
*.hdf5
*.h5
#!nlp_architect/server/angular-ui/dist/angular-ui/*.html
#*.html
doc/build/**
!nlp_architect/solutions/set_expansion/ui/templates/*.html
.vscode
!tests/fixtures/data/server/*.gz
*.log
.idea/
.nlp_architect_env/
src/
tests/fixtures/data/chunker/