*.sublime-project
*.sublime-workspace
*.pyc
*.pkl
*.prm
.DS_Store
*@eaDir
.pkgs
*.egg-info
.venv
.venv[23]
.styleenv
.coverage
build
generated
*.ropeproject
*.cubin
*.hdf5
*.h5
*.html
!solutions/set_expansion/ui/templates/*.html
.vscode
!tests/fixtures/data/server/*.gz
!server/angular-ui/src/
!server/angular-ui/dist/**/*.html
*.log
.idea/
.nlp_architect_env/
src/
pylint.html
pylint.txt
flake8.txt
nlp_architect/pipelines/bist-pretrained/*
venv
nlp_architect/api/ner-pretrained/*
tests/fixtures/data/chunker/