tensorflow==1.13.1
dynet==2.1
spacy
nltk
gensim
sklearn
scipy
numpy
tensorflow_hub
elasticsearch
newspaper3k
wordfreq
seqeval
pywikibot
num2words
hyperopt
h5py
pandas
tqdm
ftfy
bokeh
six
future
requests
termcolor
pillow
hug
falcon==1.4.1
falcon_multipart
