tensorflow==1.13.1
dynet==2.1
torch
torchvision
pytorch-pretrained-bert
spacy
nltk
gensim
sklearn
scipy
numpy
tensorflow_hub
elasticsearch
newspaper3k
wordfreq
seqeval
pywikibot
num2words
hyperopt
h5py
pandas
tqdm
ftfy
bokeh
six
future
requests
termcolor
pillow
hug
falcon==2.0.0
falcon_multipart
