ConfigArgParse==0.11.0
numpy
tqdm
scipy
requests
gensim
six
future
requests
nltk
sklearn
termcolor
palmettopy
falcon
falcon_multipart
pillow
Ptable
spacy>=2.0
keras==2.1.5
git+https://www.github.com/keras-team/keras-contrib.git#egg=keras-contrib
nervananeon==2.6.0
dynet==2.0.2
-e git+https://github.com/NervanaSystems/ngraph-python.git#egg=ngraph
tensorflow==1.6.0
