absl-py==0.10.0
asn1crypto==0.24.0
astor==0.8.1
blis==0.2.4
bokeh==1.2.0
boto3==1.16.0
botocore==1.19.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cryptography==2.1.4
cymem==2.0.3
Cython==0.29.21
dyNET==2.1
filelock==3.0.12
future==0.18.2
gast==0.2.2
gensim==3.8.3
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.6
importlib-metadata==2.0.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.3.2
MarkupSafe==1.1.1
murmurhash==1.0.2
nltk==3.5
numpy==1.16.4
opt-einsum==3.3.0
packaging==20.4
pandas
Pillow==8.0.0
plac==0.9.6
preshed==2.0.1
protobuf==3.13.0
pycrypto==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
PyYAML==5.3.1
regex==2020.10.15
requests==2.24.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.20.2
scipy==1.5.3
SecretStorage==2.3.1
sentencepiece==0.1.91
seqeval==1.2.1
six==1.11.0
smart-open==3.0.0
spacy==2.1.8
srsly==1.0.2
tensorboard==1.15.0
tensorflow==2.4.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
thinc==7.0.8
tokenizers==0.0.11
torch==1.4.0
tornado==6.0.4
tqdm==4.35.0
transformers==2.4.1
urllib3==1.25.11
wasabi==0.8.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.3.1
