@import '~@angular/material/theming';

@include mat-core();
$mat-intel-blue: (
  50: #E0EEF8,
  100: #ffcdd2,
  200: #80B8E2 ,
  300: #4D9CD6,
  400: #2686CE,
  500: #0071C5,
  600: #0069BF,
  700: #005EB8,
  800: #0054B0,
  900: #0042A3,
  A100: #CEDEFF,
  A200: #9BBCFF,
  A400: #6899FF,
  A700: #4E88FF,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);
$nlp-app-primary: mat-palette($mat-intel-blue, 500);
$nlp-app-accent: mat-palette($mat-grey);

$nlp-app-theme: mat-light-theme($nlp-app-primary, $nlp-app-accent);

@include angular-material-theme($nlp-app-theme);
