<div class="mat-typography">
  <header class="indigo header white-text" color="primary">
    <h1 class="mat-display-2 text-center" style="font-weight: 100"> Machine Reading Comprehension</h1>
  </header>
  <div class="container">
    <mat-card class="overlap">
      <div style="position: relative">
        <div>
          <form [formGroup]="mcForm" (ngSubmit)="getAnswer()">
            <ng-template #loading>
                <mat-spinner style="margin:0 auto;"></mat-spinner>
            </ng-template>
            <div *ngIf="paragraphData$ | async as paragraphData else loading">
              <mat-form-field class="full-width">
                  <mat-select placeholder="Select a paragraph" formControlName="paragraphSelect" (selectionChange)="paragraphChanged($event, paragraphData.paragraphs, paragraphData.questions)">
                    <mat-option *ngFor="let paragraph of paragraphData.paragraphs; let $i=index" [value]="$i">
                      {{paragraph}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width">
                <textarea class="md-text" matInput formControlName="paragraph" rows="10" ></textarea>
              </mat-form-field>
              <mat-select placeholder="Select a question" *ngIf="latestQuestions(paragraphData.questions) as latestQuestionSet" (selectionChange)="questionChanged($event, latestQuestionSet)">
                <mat-option *ngFor="let paragraph of latestQuestionSet; let $i=index" [value]="$i">
                  {{paragraph}}
                </mat-option>
                <mat-option value="other">
                  Other
                </mat-option>
              </mat-select>
              <mat-form-field class="full-width">
                <input matInput formControlName="question" placeholder="Question">
              </mat-form-field>
              <h1 class="mat-display-1 md-text text-center" *ngIf="answer">Answer: {{answer}}</h1>
              <button mat-raised-button color="primary" type="submit" [disabled]="!mcForm.valid">ASK</button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>

