absl-py==0.9.0
aiohttp==3.7.3
aiohttp-cors==0.7.0
aioredis==1.3.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.1.5
blessings==1.7
blis==0.4.1
Brotli==1.0.9
bs4==0.0.1
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle==1.5.0
colorama==0.4.4
colorful==0.5.4
contextvars==2.4
cycler==0.10.0
cymem==2.0.5
dash==1.17.0
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
dataclasses==0.7
datasets==1.1.2
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.8.0
fsspec==0.8.4
future==0.18.2
gast==0.3.3
google==3.0.0
google-api-core==1.24.1
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
graphsurgeon==0.4.5
grpcio==1.30.0
h5py==2.10.0
hiredis==1.1.0
horovod @ file:///opt/tensorflow/horovod-source/dist/horovod-0.19.5.tar.gz
idna==2.10
idna-ssl==1.1.0
imageio==2.9.0
immutables==0.14
importlib-metadata==1.7.0
ipdb==0.13.4
ipykernel==5.3.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.1
jiant==2.1.1
Jinja2==2.11.2
joblib==0.17.0
json5==0.9.5
jsonnet==0.15.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.5
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter-tensorboard @ git+https://github.com/lspvic/jupyter_tensorboard.git@6f1c65518820bd2dfc6cb67c758284456d8f7584
jupyterlab==1.2.14
jupyterlab-server==1.1.5
jupytext==1.5.1
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.3.1
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
mock==3.0.5
msgpack==1.0.2
multidict==5.1.0
multiprocess==0.70.11.1
murmurhash==1.0.5
nbconvert==5.6.1
nbformat==5.0.7
nltk==3.5
notebook==6.0.3
numexpr==2.7.1
numpy==1.18.4
nvidia-dali-cuda110==0.23.0
nvidia-dali-tf-plugin-cuda110==0.23.0
nvidia-ml-py3==7.352.0
nvtx-plugins==0.1.8
oauthlib==3.1.0
opencensus==0.7.11
opencensus-context==0.1.2
openpyxl==3.0.4
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.0.1
plac==1.1.3
plotly==4.13.0
portpicker==1.3.1
preshed==3.0.5
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.7.0
ptyprocess==0.6.0
py-spy==0.3.3
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytorch-lightning==0.8.5
pytz==2020.4
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.7
QtPy==1.9.0
ray==1.0.0
redis==3.4.1
regex==2020.11.13
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
sacremoses==0.0.43
scikit-learn==0.23.1
scipy==1.4.1
Send2Trash==1.5.0
sentencepiece==0.1.86
seqeval==0.0.12
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
spacy==2.3.2
srsly==1.0.5
ssh-import-id==5.7
tabulate==0.8.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow @ file:///tmp/pip/tensorflow-2.2.0%2Bnv-cp36-cp36m-linux_x86_64.whl
tensorflow-addons @ file:///opt/tensorflow/tf-addons/artifacts/tensorflow_addons-0.10.0-cp36-cp36m-linux_x86_64.whl
tensorflow-datasets==3.1.0
tensorflow-estimator==2.2.0
tensorflow-metadata==0.22.2
tensorrt==7.1.3.4
termcolor==1.1.0
terminado==0.8.3
test-tube==0.7.5
testpath==0.4.4
thinc==7.4.1
threadpoolctl==2.1.0
tokenizers==0.9.4
toml==0.10.1
torch==1.7.0
torchvision==0.6.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
transformers==4.2.0
typeguard==2.9.1
typing-extensions==3.7.4.3
uff==0.6.9
urllib3==1.25.9
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xxhash==2.0.0
yarl==1.6.3
zipp==3.1.0
