torch==1.5.1+cu101 torchvision==0.6.1+cu101 -f https://download.pytorch.org/whl/torch_stable.html
tensorflow
transformers
pytorch-lightning
tensorboard
scikit-learn
seqeval
numpy
scipy
pandas
openpyxl
test_tube